<div class="container-fluid mb-4 mt-2">
  <h2>Registration Form</h2>
  <form [formGroup]="registrationForm">
    <div class="form-group mt-4 mb-4">
      <label>Username</label>
      <input type="text" class="form-control"  formControlName="userName">
    </div>
    <div class="form-group mb-4">
      <label>Password</label>
      <input type="password" class="form-control" formControlName="password">
    </div>
    <div class="form-group mb-4">
      <label>Confirm Password</label>
      <input type="password" class="form-control" formControlName="confirmPassword">
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
  </form>
  {{registrationForm.value | json}}
</div>