<div class="container-fluid mb-5 mt-2">
  <h1>Bootcamp Enrollment Form</h1>
  <div class="alert alert-danger" *ngIf="errorMsg">
    {{errorMsg}}
  </div>
  <form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>

    <div class="form-group mb-3 mt-3">
      <label>Name</label>
      <input type="text" class="form-control" [class.is-invalid]="name.invalid && name.touched" name="username"
        [(ngModel)]="userModel.name" #name="ngModel" required>
      <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is Required</small>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" name="email" [(ngModel)]="userModel.email">
    </div>
    <div class="form-group mb-3 mt-3">
      <label>Phone</label>
      <input type="tel" class="form-control" name="phone" pattern="^\d{10}$" [(ngModel)]="userModel.phone"
        [class.is-invalid]="phone.invalid && phone.touched" #phone="ngModel" required>
      <div *ngIf="phone.errors?.['required']">
        <p class="text-danger">Name is Required</p>
      </div>
    </div>
    <div class="input-group mb-3 mt-4">
      <select class="form-select" (blur)="validateTopic(topic.value)" (change)="validateTopic(topic.value)"
        #topic="ngModel" [class.is-invalid]="topicHasError && topic.touched" name="topic" [(ngModel)]="userModel.topic">
        <option value="default">I am Interested In</option>
        <option *ngFor="let topic of topics">{{topic}}</option>
      </select>
    </div>
    <small class="text-danger" [class.d-none]="!topicHasError || topic.untouched">Please Choose a topic</small>
    <div class="form-group mb-3 mt-3">
      <label>Time Preference</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="timepreference" value="morning" ngModel>
        <label class="form-check-label">Morning (9AM - 12PM)</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="timepreference" value="evening" ngModel>
        <label class="form-check-label">Evening (5PM - 8PM)</label>
      </div>
    </div>
    <div class="form-check mb-3">
      <input class="form-check-input" type="checkbox" name="subscribe" ngModel>
      <label class="form-check-label">Send me Promotional Offers</label>
    </div>
    <button class="btn btn-primary" [disabled]="userForm.form.invalid || topicHasError" type="submit">Submit form
    </button>
  </form>
</div>